@tailwind base;
@tailwind components;
@tailwind utilities;

.squish {
  animation: squish 0.5s ease-in-out;
}

@keyframes squish {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.animate-pop {
  animation: pop 0.3s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

html {
  font-family:
    Helvetica Neue,
    Arial,
    sans-serif;
}
